@{
    ViewBag.Title = "Przesyłka wydana";
}


<h1>Przesyłka wydana</h1>
<h5>Przesyłka została wydana klientowi.</h5>

<br />
<br />
<br />

<div class="centerButton">
    <a asp-action="OnlineOrders" asp-controller="BranchEmployee" class="btn btn-primary" style="width: 250px;">Wróć do listy przesyłek</a>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />