<h1>Przesyłka zarejestrowana</h1>
<h5>Przesyłka została wprowadzona do systemu.</h5>

<br />
<br />
<br />

<div class="centerButton">
    <a asp-action="NotSentParcels" asp-controller="BranchEmployee" class="btn btn-primary" style="width: 250px;">Przejdź do listy przesyłek</a>
    <a asp-action="Index" asp-controller="Home" class="btn btn-danger" style="width: 250px;">Wróć do strony głównej</a>
</div>