@model ParcelSummaryViewModel

<div class="container">

    <h1>Dziękujemy!</h1>
    <h3>Dziękujemy za skorzystanie z naszych usług i nadanie przesyłki online. Teraz prosimy udać się pod wskazany adres w celu nadania przesyłki:</h3>
    <h3>Twój kod do śledzenia statusu przesyłki to: @Model.ParcelId</h3>
    <h4>Zachowaj go, bo jeszcze przyda Ci się w placówce nadawczej - poprosimy Cię o podanie go, by dopełnić resztę formalności z wysyłką paczki ;)</h4>

    <br />
    <br />

    <div>
        Nazwa placówki: @Model.BranchName
    </div>

    <div>
        Adres placówki: @Model.BranchAddress, @Model.BranchCity
    </div>
</div>