@{
    ViewData["Title"] = "Strona główna";
}

<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-lg-6 phoneInHand">
            <div class="checkStatus">
                Znajdź <br />
                swoją paczkę <br />
                <a href="#" class="btn btn-primary" style="width: 122px;">Zlokalizuj ją</a>
            </div>
        </div>
    </div>
</div>
