@{
    ViewData["Title"] = "Strona główna";
}

<br />
<br />
<div class="row">
    <div class="col-lg-6 phoneInHand">
        <div class="checkStatus">
            Znajdź <br />
            swoją paczkę <br />
            <a href="#" class="btn btn-primary" style="width: 122px;">Zlokalizuj ją</a>
        </div>
    </div>
    <div class="col-lg-6 postParcel">
        <div class="postParcelLabel">
            Chcesz<br /> nadać przesyłkę? <br />
            <a href="#" class="btn btn-primary" style="width: 122px;">Zrób to teraz!</a>
        </div>
    </div>
    <div>
        <div class="col-lg-6">
            <br />
            <br />
            <br />
            <h4>Działamy na terenie całego województwa!</h4>
            W województwie znajduje się 5 punktów obsługi klienta, w których możesz nadać swoją przesyłkę.
            <br />
            <br />
            <br />
            <button class="btn btn-block" style="width: 250px; height: 50px;">Sprawdź adresy</button>
        </div>
        <div class="col-lg-6">
            <br />
            <br />
            <br />
            <img src="~/images/fastTransport.jpg" style="width: 500px; height: auto;" alt="Alternate Text" />
        </div>
    </div>
</div>
