@{
    ViewData["Title"] = "Aktualne ceny";
}

<div class="row">
    <h1>Cennik Przesyłek</h1>
    <h3>Poniżej znajdziesz aktualny cennik usług wysyłkowych:</h3>
    <br />
    <div class="bar">
        <h5>Cennik podstawowy wysyłek</h5>
    </div>
    <table class="table table-striped">
        <thead class="thread-dark">
            <tr>
                <th scope="col">Waga w kilogramach [kg]</th>
                <th scope="col">Cena przesyłki</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Poniżej 1,00 kg</td>
                <td>6,99 zł</td>
            </tr>
            <tr>
                <td>Od 1,00 kg do 2,50 kg</td>
                <td>7,99 zł</td>
            </tr>
            <tr>
                <td>Od 2,50 kg do 5,00 kg</td>
                <td>9,99 zł</td>
            </tr>
            <tr>
                <td>Od 5,00 kg do 11,00 kg</td>
                <td>13,99 zł</td>
            </tr>
            <tr>
                <td>Od 11,00 kg do 20,00 kg</td>
                <td>19,99 zł</td>
            </tr>
            <tr>
                <td>Od 20,00 kg do 35,00 kg</td>
                <td>25,99 zł</td>
            </tr>
            <tr>
                <td>Powyżej 35,00 kg</td>
                <td>30,99 zł + 1 zł za każdy kolejny kilogram wagi</td>
            </tr>
        </tbody>
    </table>
</div>
